[Unit]
Description=Tomlin API
After=syslog.target
After=network.target[Service]
User=pi
Type=simple

[Service]
ExecStart=/usr/bin/java -jar /home/pi/api/tomlin-api-1.0.0.jar --spring.profiles.active=prod
Restart=always
StandardOutput=append:/home/pi/api/tomlin-api.log
StandardError=append:/home/pi/api/tomlin-api.log
SyslogIdentifier=tomlin-api

[Install]
WantedBy=multi-user.target
